.swatches{
  margin-block-start: 0;
  padding-inline-start: 0;
}
.swatches .swatch{
  background: #000;
  cursor: grab;
  display: inline-block;
  width: 16px;
  height: 16px;
  list-style: none;
  padding-inline-start: 0;
}
.swatch.one{ background: red }
.swatch.two{ background: #000 }
.swatch.three{ background: green }
.swatch.four{ background: #4267b1 }

svg path{
  cursor: copy;
}